body {
    background-color: slategray;
}

#main {
    margin-left: 10px;
}

#header {
    color:white;
    background-color: darkslateblue;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(121, 36, 36);
}
#nav {
    color: rgb(0, 0, 0);
}

#container {
    background-color: rgb(255, 255, 255);
    width: 1750px;
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
}

#main {
    color: rgb(0, 0, 0);
}

#footer {
    text-align: right;
}

#art_and_animations {
    text-align: center;
}

#review {
    margin-left: 10px;
}

#art_and_animations {
    background-color: darkslateblue;
}

#art_and_animations2 {
    background-color: darkslateblue;
}