body {
    background-image: url(https://lh4.googleusercontent.com/Y4w7Lp-rO416VP6AZPMoXUkpMVLnSScKEsnt5NnqP7radkKCEqGjJG9KGtUDN0okueSOvLvzlhtdLJT5zJYWEmk=w1280);
}
#header {
    color: oldlace;
}
#nav {
    color: oldlace;
}