body {
    background-color: slategray;
}

#header {
    color: oldlace;
    background-color: darkslateblue;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
#nav {
    color: oldlace;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    color: floralwhite;
}