body {
    background-color: slategray;
}

#header {
    color: oldlace;
    background-color: darkslateblue;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#nav {
    color: rgb(0, 0, 0);
}

#container {
    background-color: rgb(255, 255, 255);
    width: 1750px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    color: rgb(0, 0, 0);
}